@import "compass/css3";
.nicesexytext {
  font-family: "Oswald", sans-serif;
  font-weight:0;
  font-size:14px;

  margin-left:auto;
  margin-right:auto;
  text-align:center;
  letter-spacing:1px;
  color:#E6E6E5;
  width:100%;
  opacity:1;
  margin-top:-8.5%;

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  /* font-size:16px; */
  font-weight: 600;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  /* text-shadow: 1px 1px 1px rgba(1,1,1,1); */
  position: relative;
  z-index: 99;
}

.divwrap {
	display:none;
  margin-left:auto;
  margin-right:auto;
  width:15%;
  height:3%;
  margin-top:9.5%;
  margin-left: 43%;
  color:white;
  background-color: rgba(0,0,0,0.75);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px 0px #000000; 
  box-shadow: 0px 0px 11px 0px #000000;    
}
.progress {
  width: 100%;
  height: 100%;
}

.progress-wrap {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#progress-bar {
  /* margin:1px; */
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  position: relative;
  background:rgb(224, 129, 20, 0.9);
  left: 0px;
  position: absolute;
  top: 0;
  width:50%;
  z-index: 98;
}