@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

#notification-area
{
  position: fixed;
  top: -55vh;
  right: 10px;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.notification{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px 8px;
  border-radius: 5px;
  color:rgb(0,0,0,0.75);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
}

.notification.success
{
  animation: show_slide 1s ease forwards;
  border-left: 8px solid rgb(224, 129, 20, 0.75);
  background-color: rgb(224, 129, 20, 0.75);
}

.notification.warning
{
  animation: show_slide 1s ease forwards;
  border-left: 8px solid rgb(224, 129, 20, 0.75);
  background-color: rgb(224, 129, 20, 0.75);
}

.notification.error
{
  animation: show_slide 1s ease forwards;
  border-left: 8px solid rgb(224, 129, 20, 0.75);
  background-color: rgb(224, 129, 20, 0.75);
}


/*Animation : */
@keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
}
  
.data_icon
{
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}