* {
    padding: 0;
    margin: 0;
}

#container {
    position: absolute;
    height: auto;
    top: 20%;
    right: 20%;
    border-radius: 5px;
    background: transparent !important;
}

#buttons {
    max-height: 75vh;
    width: 35vw;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
}

html,body {
    background: transparent !important;
}

#buttons::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #424242;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0.0rem 0.0rem 0.1rem 0.05rem #000000;
}

.button:hover{
    background-color: rgb(224, 129, 20, 0.9);
}

.button > .txt {
    color: rgb(232, 229, 229);
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    overflow: hidden;
    font-weight: 300;
}

.button > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color:  rgb(232, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    overflow: hidden;
    font-weight: 500;
}

.container {
    position: absolute;
    top: 40%;
    left:0;
    right: 0;
    width: 512px;
    margin: 0 auto;
    text-align: center;
}
.container input {
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.75);
    box-shadow: 0.0rem 0.0rem 0.1rem 0.05rem #000000;
    border-radius: 0.3rem;
}

.container .input-header {
    font-weight: bold;
    font-size: 1rem;
}

.container button {
    border: 0;
    color: rgb(232, 229, 229);
}