body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Oswald', sans-serif;
}
.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  animation: fadeOut 100ms;
}
.bg-video-wrap.blur {
  background: url('./start.jpg') no-repeat center;
  background-size: 100%;
}

#loader {
  position: absolute;
  top: 25px;
  width: 100%;
  text-align:center;
  margin: 0 auto;
}
#loader i {
  color: rgba(0,0,0,0.50);
  font-size: 50px;
	animation: spinner 800ms linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

#overlay.fadeout {
  animation: fadeOut 100ms;  
}

.blur {
  filter: blur(15px);
}
video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
  animation: fadeIn 500ms;
}
.overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%); */
  background-size: 3px 3px;
  z-index: 2;
}

.overlay p {
  color: rgba(255,255,255,0.25);
  text-align: center;
  font-size: 16px;
  font-weight: 0;
}