@import "compass/css3";
.nicesexytext {
  font-family: sans-serif;
  font-weight:0;
  font-size:18px;
  letter-spacing:0.1em;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:white;
  width:100%;
  opacity:0.8;
  margin-top:-9%;
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 0px black;
}

.divwrap {
	display:block;
  margin-left:68%;
  width:30%;
  height:15%;
  margin-top:1%;
  color:white;
  padding:1px;
}

.notify-wrap {
  height: 99%;
  overflow: hidden;
  position: relative;
}

.notification-bg {
  background-color: #3800ea;
  color: #fff;
  margin:6px;
  text-align:center;
  padding:8px;
  border-radius:3px;
  font-weight:bold;
  font-size:12px;
  display:inline-block;
}

.red {
  background-color: rgba(181, 82, 85, 0.85);
}

.taxi {
  background-color: rgba(21, 100, 15, 0.95);
}

.medical {
  background-color: #3800ea;
}
