@import "compass/css3";
.nicesexytext {
  font-family: "Oswald", sans-serif;
  font-weight:0;
  font-size:65%;

  margin-left:auto;
  margin-right:auto;
  text-align:center;
  letter-spacing:1.1px;
  color:#E6E6E5;
  width:100%;
  font-weight: bold;
  letter-spacing: 0.7px;
  /* font-size:16px; */
  /* text-shadow: 1px 1px 1px rgba(1,1,1,1); */
  position: relative;
  z-index: 99;
  opacity: 1;
  margin-top: 4%;
}

.divwrap {
	display:none;
  margin-left:auto;
  margin-right:auto;
  width:15%;
  height:3%;
  margin-top:26%;
  margin-left: 43%;
  color:white;
  background-color: rgba(0,0,0,0.75);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px 0px #000000; 
  box-shadow: 0px 0px 11px 0px #000000;    
}


.skillprogress {
  position:absolute;
  width: 10%;
  height: 100%;
  border-right:2px solid rgba(255,250,250,0.9);
  border-left:2px solid rgba(255,250,250,0.9);
  background-color:rgba(255,250,250,0.4);
  left:35%;
  z-index:99;
  opacity:0.8;
  padding-top:1%;
}
.progress {
  width: 100%;
  height: 100%;
}

.progress-wrap {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#progress-bar {
  /* margin:1px; */
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  position: relative;
  background:rgba(224, 129, 20, 0.9);
  left: 0px;
  position: absolute;
  top: 0;
  width:50%;
  z-index: 98;
}