@font-face {
	font-family: "Digital-7";
	src: url( "digital-7.regular.ttf" );
}

/* Police Radar */
#meter {
	width: 595px;
	height: 50px;

	position: absolute;
	top: 70px;
	right: 10px;
	margin: auto;

	color: white;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#fare {
	width: 400px;
	height: 50px;

	position: absolute;
	bottom: 10px;
  right: 10px;
	margin: auto;

	color: white;
	background: rgba(20, 20, 20, 0.97);
	background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(25, 25, 25));
	border-radius: 10px;

	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: repeat(2, 2fr);
	background-color: #2196f3;
	padding: 2%;
}

#fare .label {
	display: grid;
	grid-area: label;
}

#fare .container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 75% 25%;
	grid-template-areas:
		"meter-field"
		"label";
	background-color: #2196f3;
	background: linear-gradient(to bottom, rgb(220, 0, 40), rgb(90, 0, 0));
  padding-top: 8px
}

#fare .meter-field {
	display: grid;
	grid-area: meter-field;
	font-family: "Verdana";
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	overflow-x: hidden;
}

#fare .label {
	width: 100%;
	height: 100%;
	background-color: black;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}

#config {
	background: rgba(20, 20, 20, 0.97);
	background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(25, 25, 25));
	width: 500px;
	height: 500px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  padding: 10px;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
  text-align: center;
  color: #fff;
}

#config h1{
  margin-top: 5px;
  font-size: 30px;
  font-family: 'Digital-7';
}

#config .button{
  font-family: 'Arial';
  padding: 20px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  background: #333;
  margin-bottom: 10px;
}
