<head>
    <script src="nui://game/ui/jquery.js" type="text/javascript"></script>
    <script src="scripts.js" type="text/javascript"></script>
    <script src="debounce.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div class="container">

        <div class="cashtransaction"></div>
        <div class="cash"></div>
        <div class="balance"></div>
        <div class="transaction"></div>
    </div>
    <div class="full-screen">
        <div class="loading" style="text-align:center;display: none;">
            <image id="loadingimage" src="https://i.gifer.com/ZZ5H.gif" style="height: auto;width: 4%;display: block;margin: auto;margin-top:5%"></image>
        </div>
        <div class="bank-container">
            <div id="waitdawg" style="display: none;">

                <!-- Withdraw Part -->
                <!-- Withdraw Part -->
                <!-- Withdraw Part -->
                <!-- Withdraw Part -->
                <!-- Withdraw Part -->
                <!-- Withdraw Part -->
                <div class="idk" style="display: none;">
                    <div class="text titlewithdraw">Withdraw</div>
                    <input class="inputaa" id="amountwithdraw" type="number" placeholder="Insert Amount for Withdrawal" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Amount</div>
                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: 35px;">
                    <div class="dollarrrr" style="margin-left: 165px;margin-top:-42px">R</div>
                    <br style="line-height:1px;">

                    <input class="inputaa" id="commentforwithdraw" type="text" placeholder="Insert Reason for Withdrawal" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Note</div>
                    <div class="committt" style="margin-left: 165px;">//</div>

                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: -2px;">
                    <div style="margin-top: 50px;"></div>
                    <button type="submit" id="Withdraw" style="margin-left:250px;background-color: #8edf72;" class="buttonactions">Withdraw</button>
                    <button type="submit" id="cancel" style="margin-left:20px;background-color: #dcd9d9;" class="buttonactions">CANCEL</button>
                    <div class="text currentBalance" style="text-align: center;margin-top: 57px;font-size: 35px;"></div>
                    <div class="text" style="font-size: 15px;text-align: center;">Available Balance</div>
                </div>
                <!-- Deposit Part -->
                <!-- Deposit Part -->
                <!-- Deposit Part -->
                <!-- Deposit Part -->
                <!-- Deposit Part -->
                <!-- Deposit Part -->
                <div class="idk2" style="display: none;">
                    <div class="text titlewithdraw">423324</div>
                    <input class="inputaa" id="amountdeposit" type="number" placeholder="Insert Amount for Deposit" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Amount</div>
                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: 35px;">
                    <div class="dollarrrr" style="margin-left: 165px;margin-top:-42px">R</div>
                    <br style="line-height:1px;">

                    <input class="inputaa" id="commentfordeposit" type="text" placeholder="Insert Reason for Deposit" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Comment</div>
                    <div class="committt" style="margin-left: 165px;">//</div>

                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: -2px;">
                    <div style="margin-top: 20px;"></div>
                    <button type="submit" id="Deposit" style="margin-left:250px;background-color:  #8edf72 ;" class="buttonactions">Deposit</button>
                    <button type="submit" id="cancel2" style="margin-left:20px;background-color: #dcd9d9;" class="buttonactions">CANCEL</button>
                    <div class="text cashrightnow" style="text-align: center;margin-top: 57px;font-size: 35px;"></div>
                    <div class="text" style="font-size: 15px;text-align: center;">Available Balance</div>
                </div>

                <!-- Transfer Part -->
                <!-- Transfer Part -->
                <!-- Transfer Part -->
                <!-- Transfer Part -->
                <!-- Transfer Part -->
                <!-- Transfer Part -->
                <div class="idk3" style="display: none;">
                    <div class="text titlewithdraw">423324</div>
                    <input class="inputaa" id="playerid" type="number" placeholder="Insert Player UID for transfer - Must be online" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Player UID</div>
                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: 35px;">
                    <input class="inputaa" id="amounttransfer" type="number" placeholder="Insert Amount for transfer" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Amount</div>
                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: 35px;">
                    <div class="dollarrrr" style="margin-left: 165px;margin-top:-42px">R</div>
                    <input class="inputaa" id="commentfortransfer" type="text" placeholder="Insert Reason for transfer" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Comment</div>
                    <div class="committt" style="margin-left: 165px;">//</div>

                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: -2px;">
                    <div style="margin-top: 20px;"></div>
                    <button type="submit" id="Transfer" style="margin-left:250px;background-color: #8edf72;" class="buttonactions">Transfer</button>
                    <button type="submit" id="cancel3" style="margin-left:20px;background-color: #dcd9d9;" class="buttonactions">CANCEL</button>
                    <div class="text currentBalance" style="text-align: center;margin-top: 20px;font-size: 35px;"></div>
                    <div class="text" style="font-size: 15px;text-align: center;">Available Balance</div>
                </div>

                <!-- Bussiness Deposit Part -->
                <!-- Bussiness Deposit Part -->
                <!-- Bussiness Deposit Part -->
                <!-- Bussiness Deposit Part -->
                <!-- Bussiness Deposit Part -->
                <!-- Bussiness Deposit Part -->
                <div class="idk4" style="display: none;">
                    <div class="text titlewithdraw">423324</div>
                    <input class="inputaa" id="bussinessdeposit" type="number" placeholder="Insert Amount for Deposit" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Amount</div>
                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: 35px;">
                    <div class="dollarrrr" style="margin-left: 165px;margin-top:-42px">R</div>
                    <input class="inputaa" id="bussinesscommentdeposit" type="text" placeholder="Insert Reason for Deposit" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Comment</div>
                    <div class="committt" style="margin-left: 165px;">//</div>

                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: -2px;">
                    <div style="margin-top: 20px;"></div>
                    <button type="submit" id="bussinessdepositaccept" style="margin-left:250px;background-color: #8edf72;" class="buttonactions">Deposit</button>
                    <button type="submit" id="cancel4" style="margin-left:20px;background-color: #dcd9d9;" class="buttonactions">CANCEL</button>
                    <div class="text cashrightnow" style="text-align: center;margin-top: 20px;font-size: 35px;"></div>
                    <div class="text" style="font-size: 15px;text-align: center;">Available Balance</div>
                </div>
                <div class="idk5" style="display: none;">
                    <div class="text titlewithdraw">423324</div>
                    <input class="inputaa" id="bussinessWithdraw" type="number" placeholder="Insert Amount for Withdraw" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Amount</div>
                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: 35px;">
                    <div class="dollarrrr" style="margin-left: 165px;margin-top:-42px">R</div>
                    <input class="inputaa" id="bussinesscommentWithdraw" type="text" placeholder="Insert Reason for Withdraw" required/><br>
                    <div class="text" style="margin-left: 180px;margin-top:20px">Comment</div>
                    <div class="committt" style="margin-left: 165px;">//</div>

                    <hr style="width: 325px;height: 0px;background-color:rgba(198,198,198,1.0);margin-top: -2px;">
                    <div style="margin-top: 20px;"></div>
                    <button type="submit" id="bussinessWithdrawaccept" style="margin-left:250px;background-color: #8edf72;" class="buttonactions">Withdraw</button>
                    <button type="submit" id="cancel5" style="margin-left:20px;background-color: #dcd9d9;" class="buttonactions">CANCEL</button>
                    <div class="text currentcash" style="text-align: center;margin-top: 20px;font-size: 35px;"></div>
                    <div class="text" style="font-size: 15px;text-align: center;">Available Balance</div>
                </div>
                <div class="home">
                    <div id="idk">




                        <div class="text cashrightnow" id="cashdownonscreen" style=" border-radius: 8px; border:1px rgb(160, 143, 180) solid;margin-top: 30px; padding-top: 10px; padding-bottom: 10px; text-align:center; background-color: #403077; margin-right: 90%; margin-top: 700px;margin-left: 15px;">Cash: </div>





                        <div class="accountstext" style="padding-left: 405px;white-space:nowrap;">Transaction History</div>
       
                        <div class="personalbox">
                            <div id="accountnumber" class="textabc" style="margin-top: 15px;">Personal Account: 2131321</div>
                            <a class="text username" style="font-size: 15px;margin-left: 17px;"></a>
                            <div class="text currentBalance" style="float: right;margin-top: -17px;font-size: 25px;margin-left: 250px;border-right: 30px transparent; transform: translateX(-10px);"></div>
                            <div class="text" style="font-size: 15px;float:right; transform: translateX(-10px);">Available Balance</div>
                            <div style="margin-top:55px;"></div>
                            <button type="submit" id="DEPOSIT" style="margin-left: 23px;background-color: #8edf72" class=" buttonactions">DEPOSIT</button>
                            <button type="submit" id="WITHDRAW" style="margin-left: 23px;background-color: #faa361;" class="buttonactions">WITHDRAW</button>
                            <button type="submit" id="TRANSFER" style="margin-left: 23px;background-color: #dcd9d9;" class="buttonactions">TRANSFER</button>
                        </div>
                        <div class="bussinessbox" style="display: none;">
                            <div class="textabc Bussiness" style="margin-top: 15px;">Bussiness Account: 2131321</div>
                            <a id="welcome" class="text wel username" style="font-size: 15px;margin-left: 17px;"></a>
                            <div class="text currentcash" style="float: right;margin-top: 10px;font-size: 25px;margin-left: 250px;border-right: 30px transparent; transform: translateX(-10px);"></div>
                            <div class="text" style="font-size: 15px;float:right; transform: translateX(-10px);">Available Balance</div>
                            <div style="margin-top:10px"></div>
                            <button type="submit" id="withdrawbussiness" style="margin-left: 17px;background-color: #8edf72;" class="buttonactions">WITHDRAW</button>
                            <button type="submit" id="depositbussiness" style="margin-left: 17px;background-color: #faa361;" class="buttonactions">DEPOSIT</button> </div>
                        </div>
                    </div>
               
                <div class="accountstext" id="acctext" style="white-space:nowrap;">Accounts</div>
                <div class="transactionhistory" style="overflow-y:auto;">
                </div>
            </div>
        </div>


    </div>
</body>