<template>
  <div class="screen">
    <div class="account-information-container phone-app white-text">
            <div class="row account-information-wrapper">
              <div class="col s12">
                <div class="row">
                  <div class="col s12 red-text"><span aria-label="Your CID" data-balloon-pos="right"><i
                  class="fas fa-book fa-2x"></i> <span class="account-information-cid"></span></span></div>
                 </div>
                 <div class="row">
                  <div class="col s12 yellow-text"><span aria-label="Phone Number" data-balloon-pos="right"><i
                  class="fas fa-phone-square-alt fa-2x"></i> <span class="account-information-phone"></span></span></div>
                  </div>
                </div>
                 <div class="row">
                  <div class="col s12 green-text"><span aria-label="Cash on you" data-balloon-pos="right"><i
                        class="fas fa-wallet fa-2x"></i> <span class="account-information-cash"></span></span></div>
                </div>
                <div class="row">
                  <div class="col s12 blue-text"><span aria-label="Money in the bank" data-balloon-pos="right"><i
                        class="fas fa-university fa-2x"></i> <span class="account-information-bank "></span></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12"><span class="account-information-licenses"></span></div>
                </div>
                <div class="row">
                  <div class="col s12"><span aria-label="Your primary job" data-balloon-pos="right"><i
                        class="fas fa-briefcase fa-2x brown-text"></i></span> <span
                      class="account-information-primary-job"></span></div>
                </div>
                <div class="row">
                  <div class="col s12"><span aria-label="Your secondary job" data-balloon-pos="right"><i
                        class="fas fa-hard-hat fa-2x yellow-text"></i></span> <span
                      class="account-information-secondary-job"></span></div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <span aria-label="Toggle pager" data-balloon-pos="right">
                      <i class="account-information-toggle-pager fas fa-pager fa-2x green-text"></i>
                    </span>
                  </div>
                </div>
              </div>
          </div>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {}
  },
  methods: {},
  computed: {},
  created () {
    this.$bus.$on('keyUpBackspace', this.back)
  },
  beforeDestroy () {
    this.$bus.$off('keyUpBackspace', this.back)
  }
}
</script>

<style scoped>
.screen{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
</style>
