/* @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

@font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gta-ui';
    src: url('gta-ui.ttf');
}

@font-face {
    font-family: 'pdown';
    src: url('pdown.ttf');
} */
body {
    width: 100%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}
html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

.money-container {
    position: absolute;
    right: 5vw;
    top: 7vh;
}

#cash {
    color: white;
}

.money-cash,.money-bank {
    float:right;
    font-family: 'pdown';
    font-weight: 400;
    font-size: 29px;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
}

.money-cash {
    color: rgb(210, 210, 210);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
}

.money-bank {
    color: rgb(167, 167, 167);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    top: 55px;
}

#plus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

#minus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

.minus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #801e1f;
}

.munnie {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.moneyupdate {
    float: right;
    padding-left: 0.5vw;
}

.plus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.seatbelt-text {
    font-size: 1.45vh;
    color: #46ad34;
    text-shadow: 1px 1px 0px #000000;
}

.top-center {
    position: fixed;
    left:0;
    right:0;
    top: 10px;
    margin: 0 auto;
    width: 512px;
    display: flex;
    flex-direction: column;
}


.compass-container {
    position: absolute;
    width: 100%;
    height: 4.5vh;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}


.compass-ui {
    position: absolute;
    width: 81.6vh;
    height: 100%;
    right: 0vh;
}

.compass-current {
    position: absolute;
    width: 100%;
    height: 3vh;
    color: white;
    text-align: center;
    font-size: 2vh;
}

.compass-current > span {
    position: relative;
    top: -1.6vh;
    text-shadow: 1px 1px 0px #000000;
}

.big-degree {
    position: relative;
    float: left;
    height: 60%;
    width: 3vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-shadow: 1px 1px 0px #000000;
    text-align: center;
    border-radius: .2vh;
    font-size: 2.1vh;
    line-height: 3vh;
    top: 1.5vh;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.5);
}

.big-degree-line {
    color: white !important;
    font-size: 1.2vh !important;
    text-shadow: 1px 1px 0px #000000;
}

.degree-line {
    position: relative;
    float: left;
    height: 100%;
    width: 0.8vh;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 1.1vh;
    margin-top: 1.6vh;
    line-height: 3.5vh;
    text-shadow: 1px 1px 0px #000000;
}

.degree-label {
    position: absolute;
    bottom: 2.4vh;
    left: -.6vh;
    font-size: 1.3vh;
    color: white;
    font-family: sans-serif;
    font-variant: normal !important;
    text-shadow: 1px 1px 0px #000000;
}

#statusHud
{
    position: absolute;
    bottom: 0.7vh;
    left: 0.7vh;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#statusHud .flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#statusHud .flex-col .statback:nth-of-type(1) {
    margin-bottom: 0.2vh;
}

/* 
animation: pulse 0.5s infinite;
@keyframes pulse {
    0% {
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

#statusHud2 {
    position: absolute;
    left: 28vh;
    bottom: 1.5vh;
}

#carHud {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0 auto;
    width: 300px;
}

#carHud #speedo-value {
    position: absolute;
    top: 40px;
    left: 71px;
    text-align: center;
    width: 160px;
}
#carHud #speedo-value > #units {
    display:block;
    font-size: 3vh;
    text-align: center;
    color: rgba(255,255,255,0.6);
}
#carHud #speedo-value > #kmh {
    display:block;
    font-size:  1.5vh;
    text-align: center;
    color: rgba(255,255,255,0.6);
}

#carHud #fuelo {
    position: absolute;
    left: 190px;
    bottom: 34px;
    transform: rotateZ(45deg);
    height: 105px;
}


#carHud #fuelo-value {
    position: absolute;
    left: 265px;
    bottom: 50px;
}
#carHud #fuelo-value i {
    font-size: 1vh;
}

#carUtil {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 84px;
    left: 10px;
}

#carUtil #carHealth i {
    display: none;
    font-size: 2.8vh;
}

#carUtil #carHealth #half {
    color: orange;
    opacity: 0.8;
}

#carUtil #carHealth #full {
    color: red;
    opacity: 1;
}

#carUtil #seatBelt img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

#carUtil #seatBelt .off {
    display: none;
}

#carUtil #seatBelt .on {
    filter: grayscale(100%);
}

#carUtil div {
    width: 2.8vh;
    height: 2.8vh;
}

/*? ID Selectors */
#varHealth .bar {
    background: rgba(255, 0, 0, 0.4);
}
#statusHud.right #varHealth .fas {
    margin-top: 3px;
}

#varArmor .bar {
    background: rgba(72, 72, 216, 0.4);
}
#varHunger .bar {
    background: rgba(255, 123, 0, 0.781);
}
#varThirst .bar {
    background: rgba(78, 228, 255, 0.5);
}
#varThirst, #varHunger {
	width: 6vh;
}

#varStress {
    width: 8vh;
}

#varStress .bar {
    width: 0%;
    background: rgba(70, 12, 2, 0.75);
}

#varSprint .bar {
    background: rgb(6, 108, 126, 0.50);
}
#varOxygen .bar {
    background: rgba(16, 179, 207, 0.5);
}
#varLocation {
    border-bottom-width: 4px !important;
    left: 15px;
}

#varStreet {
    border-bottom-width: 4px !important;
}

#varStreet .text-location {
    color:rgba(255,255,255,0.60);
    display: flex;
    flex-direction: column;
    width: 100%;
}

#varLocation .text-location {
    padding: 2px;
    padding-top: 4px;
    color:rgba(255,255,255,0.60);
    font-size: 100%;
}
#varCompass {
    position: relative;
    bottom: initial;
    height: 45px;
    width: 200px;
    margin: 0 auto;
}

#varLocation {
    position: fixed;
    float:left;
    height: 85px;
    left: 0.7vh;
    bottom: 35px;
}

.time-text {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.right #varLocation {
    position: relative;
    float:left;
    height: 40px;
    bottom: initial;
    left: initial;
    width: 130px;
}


#varStreet {
    position: relative;
    width: 100%;
}

#varStreet #streetName {
    font-size: 1.8em;
    line-height: 3vh;
    display: block;    
    width: 100%;
}

#varStreet #streetName,
#varStreet #streetName2,
#varStreet #areaZone,
#varLocation .text-location {
    color: rgba(255,255,255,1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.right #varStreet #streetName {
    padding-top: 9px;
    line-height: 30px;
}
#varStreet #streetName2 {
    opacity: 0.60;
}
#varStreet #areaZone {
    height: 25%;
    line-height: 3vh;
    padding-top: 0;
    font-size: 1.5em;
}

/*! Class Selectors */
.right #varVoice {
  position: absolute;
  top: 10px;
  left:133px;
}

@keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }
  
  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }

  #varVoice {
    position: fixed;
    top: 50%;
    right: 1%;
    opacity: 0;
    transition: opacity 250ms linear;
  }

  #varVoice.active {
    opacity: 1;
    transition: opacity 250ms linear;
    visibility: visible;
  }
  
  .voiceContainer{
    display: flex;
    justify-content: space-between;
    height: 32px;
    --boxSize: 4px;
    --gutter: 2px;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
  }
  
  .box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: rgba(255,255,255,0.75);
    box-shadow: 0 0 2px black;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }
  
  .box1{
    animation-name: quiet;
  }
  
  .box2{
    animation-name: normal;
  }
  
  .box3{
    animation-name: quiet;
  }
  
  .box4{
    animation-name: loud;
  }
  
  .box5{
    animation-name: quiet;
  }

.statback .bar {
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 998;
}

.statback i {
    margin-top: 0.5vh;
    font-size: 1.0vh;
}

.textstat {
    display: none;
}

.statback.bg {
    position: relative;
    border: 4px solid rgba(0,0,0,0.35);
    border-left:0;
    border-right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    height: 2.0vh;
    width: 10vh;
}

.statback 
{
    margin-right: 2px;
    text-align: center;
    width: 100px;
    display: inline-block;
}

.fas 
{
    position: relative;
    z-index: 999;
    font-size: 1rem;
    vertical-align: middle;
    color: rgba(255,255,255,0.5);
}
.textstat 
{
    width: 2vh;
    float: right;
    text-align: right;
    font-size:00vh;
    margin-top: -0.25vh;
}

#statusHud.right {
    width: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    left: 28vh;
    bottom: 1.5vh;
}

#statusHud.right .statback {
    border-bottom-width: 0px;
    width: 100%;
    flex-grow: 4;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
#statusHud.right .statback:nth-child(5) {
    border-bottom-width: 4px;
}

#statusHud.right #varThirst,
#statusHud.right #varHunger,
#statusHud.right #varStress {
    width: 100% !important;
    height: 75px;
    border-top: 4px solid rgba(0,0,0,0.35);
    border-bottom: 4px solid rgba(0,0,0,0.35);
}

.m-fadeOut {
    /* visibility: hidden !important;
    opacity: 0 !impo#varCompassrtant;
    transition: visibility 0s linear 300ms, opacity 300ms !important; */
}

#statusHud.right #varSprint {
    border-top:0;
    border-bottom-width: 4px;
}
#statusHud.right #varSprint .fas {
    margin-top: 5px;
}

#statusHud.right #varThirst .fas,
#statusHud.right #varHunger .fas {
    position: relative;
    padding-bottom: 45px;
}


[data-voicetype="3"] {
    position: absolute;
    top: 0;
}

[data-voicetype="2"] {
    position: absolute;
    top: .9vh;
}

[data-voicetype="1"] {
    position: absolute;
    bottom: 0;
}


body.visibility-hidden {
    visibility: hidden;
}